body {
    background-color: rgb(70, 54, 36);
}

.video {
    width: 80%;
    height: 80%;
    margin: 2rem;
}

.navigators {
    font-size: 4rem;
    padding: 1rem;
}

.navigators-pause {
    display: none;
}

.pause {
    display: unset;
}

.play-disappeared {
    display: none;
}